name: publish

on:
    push:
        tags: ["*.*.*"]

env:
  VITE_SERVICES_URL: https://api.valoria.space

jobs:
    publish-tauri:
        strategy:
            fail-fast: false
            matrix:
                include:
                    - platform: macos-latest
                      args: --target aarch64-apple-darwin
                    - platform: macos-latest
                      args: --target x86_64-apple-darwin
                    - platform: ubuntu-22.04
                      args: ""
                    - platform: windows-latest
                      args: ""

        runs-on: ${{ matrix.platform }}
        steps:
            - name: Install required packages
              if: matrix.platform == 'ubuntu-22.04'
              run: |
                  sudo apt update
                  sudo apt install -y libgtk-3-dev libsoup-3.0-dev libjavascriptcoregtk-4.1-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                repository: ${{ github.repository_owner }}/valoria-launcher
                ref: ${{ github.ref_name }}
                token: ${{ secrets.CHECKOUT_TOKEN }}

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10

            - name: Use Node.js 24
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: pnpm

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: nightly
                  targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

            - name: Install dependencies
              run: pnpm install

            - uses: tauri-apps/tauri-action@v0
              env:
                  GITHUB_TOKEN: ${{ github.token }}
                  TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
                  TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
              with:
                  tagName: __VERSION__
                  releaseName: __VERSION__
                  releaseBody: __VERSION__
                  args: ${{ matrix.args }}
                  repo: valoria-launcher-public
